{% extends 'homepage.html.twig' %}

{% block title %} Homepage {% endblock %}

{% block body %}

    <div class="container">
        {#SUMMARY OF FILTERS SELECTED BEGIN#}
        {% if shortname is defined %}
            <div class="row">
                <div style="padding: 0 15px 0 15px">

                    {% if shortname == 'Concept' %}
                        <p>Liste des articles en rapport avec le concept de {{ filter }} :</p>
                    {% elseif shortname == 'Author' %}
                        <p>Liste des articles en rapport avec {{ filter|capitalize }} :</p>
                    {% elseif shortname == 'Category' %}
                        <p>Liste des articles en rapport avec la catégorie : {{ filter }} </p>
                    {% endif %}

                </div>
            </div>
        {% endif %}
        {#SUMMARY OF FILTERS SELECTED END#}


        {#MAIN ARTICLE BEGIN#}
        <div class="row">
            {% for article in articles %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 post_item" style="padding-left: 0;">
                    <a href="{{ path('article_show', {'id': article.id}) }}">
                        {# -> data-mh -> js -> same size boxes#}
                        <div data-mh="my-group" class="card card-small">

                            {% if article.linkedImage != null %}
                                <img class="card-img-top" src="{{ asset('uploads/images/' ~ article.linkedImage ) }}"
                                     alt="{{ article.title }}">
                            {% endif %}

                            <div class="card-body">
                                <h2>{{ article.title }}</h2>
                                <h6 style="font-stretch: ultra-condensed; color: #aaa; padding-bottom: 8px;">
                                    <small>De {{ article.writer }}</small>&nbsp;&nbsp;&nbsp;
                                    <small>le {{ article.createdAt|date("d/m/Y") }} </small>
                                </h6>
                                {% if article.linkedImage != null %}
                                    <p class="card-text">{{ article.content|slice(0, 240)| raw }} ...</p>
                                {% else %}
                                    <p class="card-text">{{ article.content|slice(0, 480)| raw }} ...</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {#MAIN ARTICLE END#}

        {#KNP PAGINATOR BEGIN#}
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
        {#KNP PAGINATOR END#}

    </div>
    {#SECOND CONTAINER END#}

    {% block javascripts %}
        {#FITS DIVs IN A ROW ACCORDING TO THE BIGGER#}
        {{ encore_entry_script_tags('matchHeight') }}
    {% endblock %}

{#END BLOCK BODY#}
{% endblock %}

