{% extends 'base.html.twig' %}

{% block title %} Homepage {% endblock %}

{% block body %}




    <div class="container">
        <div class="row">

            {% for article in articles %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                    <div data-mh="my-group" class="card" style="width: 23rem;">
                        {% if article.image != null %}
                            <img class="card-img-top" src="{{ asset('uploads/images/' ~ article.image ) }}" alt="{{ article.title }}">
                        {% endif %}

                        <div class="card-body">
                            <div class="custom-title">{{ article.title }}</div>
                                <h6 style="font-stretch: ultra-condensed; color: #aaa; padding-bottom: 8px;">
                                    <small>De {{ article.writer }}</small>&nbsp;&nbsp;&nbsp;
                                    <small>le {{ article.createdAt|date("d/m/Y") }} </small>
                                </h6>
                            <p class="card-text">{{ article.content|slice(0, 120) }}</p>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


    {% block javascripts %}
        {#Permet l'ajustement des DIV entre elles#}
        {{ encore_entry_script_tags('matchHeight') }}
    {% endblock %}
{% endblock %}

