<!DOCTYPE html>
<html lang="fr"
      dir='ltr' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b'
      xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}Welcome!{% endblock %}
    </title>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>
    {# Description and Keywords (start) #}
    <meta content='Textes de Philippe Choulet' name='description'/>
    <meta content='Philosophie, Philippe Choulet' name='keywords'/>
    {# Description and Keywords (end) #}
    <meta content='Philippe Choulet' property='og:site_name'/>
    {# Social Media meta tag need customer customization #}
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <meta content='Philippe Choulet' property='og:title'/>
    <meta content='Site de Philippe Choulet' property='og:description'/>


    {% block stylesheets %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">
        {# Google Webfont #}
        <link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'/>
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,400italic,700italic' rel='stylesheet'
              type='text/css'/>

        <link rel="stylesheet" href="{{ asset('build/app.css') }}" type="text/css">
    {% endblock %}

</head>

<body class='index'>
{#MAIN CONTAINER BEGIN#}
<div class="header-wrapper">
    <div class='top_wrapper'>

        {#HEADER BEGIN#}
        <div id='header-wrapper' itemscope='itemscope' itemtype='http://schema.org/WPHeader'>
            <div class='ornament'>
                <div class='container'>
                    <div class='row' align="center">
                        <div class='header section' id='header'>
                            <div class='widget Header' data-version='1' id='Header1'>
                                <div id='header-inner'>
                                    <div class='titlewrapper'>
                                        <h1 class='title'>
                                            <a href='#' itemprop='url'>
                                                <span itemprop='name'>Lire</span>
                                            </a>
                                        </h1>
                                    </div>
                                    <div class='descriptionwrapper'>
                                        <p class='description'><span>Lire Ph Ch</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class='twelve'>
                {#<div class='header_right'></div>#}

                {#NAVBAR BEGIN#}
                <div class="container">{#<- centers the navbar #}
                    <nav class="navbar navbar-expand-lg navbar-dark custom">
                        <a class="navbar-brand" href="{{ path('index') }}">Accueil</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{{ path('index') }}">Accueil <span class="sr-only">(current)</span></a>
                                    </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('index') }}">Bibliographie </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sections
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ path('index') }}">Section 1</a>
                                        <a class="dropdown-item" href="{{ path('index') }}">Section 2</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('index') }}">Autre section 1</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('index') }}">Liens&nbsp;externes</a>
                                </li>
                            </ul>
                            {#Barre de recherche (searchbar) DEBUT#}
                            {% set searchbar = search_bar.getForm().createView() %}
                            <div class="sb-container">
                                <div class="form-inline my-2 sb-container-inner float-md-right">
                                    <div class="row col-lg-5 offset-lg-3 sb-container-inner">
                                        {{ form_start(searchbar) }}
                                        <div class="row sb-container-inner">
                                            <div class="col-xs-8 sb-container-inner">
                                                {{ form_row(searchbar.search, {'attr':{'placeholder':'Recherche d\'un terme...' }}) }}
                                            </div>
                                            <div class="col-xs-2 sb-container-inner">
                                                <button class="btn btn-outline-secondary sb-container-inner" style="font-size: 16px;" type="save"><i class="fas fa-search"></i></button>
                                            </div>
                                            {{ form_row(searchbar.save, { 'attr': {'class': 'd-none'} }) }}
                                        </div>
                                    </div>
                                    {{ form_end(searchbar) }}
                                </div>
                            </div>
                        </div>
                        {#Barre de recherche (search bar) fin#}
                        </nav>
                    </div>
                {#NAVBAR END#}

            </div>
        </div>
    </div>
    {#HEADER END#}
</div>
{#MAIN CONTAINER END#}

<div class='clear'></div>



{% block body %}
{% endblock %}

{#STYLE FOR FOOTER#}
<style>
    nav#social i {
        padding: 15px 14px 25px;
        font-size: 20px;
    }

    .rightf {
        padding-top: 10px;
    }
</style>
{#END STYLE FOR FOOTER#}

{#FOOTER BEGIN#}
<div id='footer'>
    <div class='container'>
        <div class='row'>
            <div class='twelve columns wrapper'>
                <nav id='social'>
                    <a class='letter_email' href='{{ path('index') }}' target='_blank'><i class='fas fa-envelope'></i></a>
                </nav>
                <small>Créé par <a href='{{ path('index') }}' id='' title=''>Sébastien STELTZLEN</a></small>
                <div class='rightf'></div>
            </div>
        </div>
    </div>
</div>
{#FOOTER END#}

{% block javascripts %}
    {{ encore_entry_script_tags('navBar') }}
{% endblock %}

</body>

</html>
