{% extends 'homepage.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-1 col-lg-9 card post_item_article low-padding">
                <h1>{{ article.title }}</h1>
                <table class="table">
                    <tbody>
                    <tr>
                        <h5 style="font-stretch: ultra-condensed; color: #aaa; padding-bottom: 8px;">
                            De {{ article.writer }}&nbsp;&nbsp;
                            le {{ article.createdAt|date("d/m/Y") }}
                        </h5>
                    </tr>
                    <tr>
                        <h5 style="font-stretch: ultra-condensed; color: #aaa; padding-bottom: 8px;">
                            Première publication : {{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}&nbsp;&nbsp;
                            Mis à jour le : {{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i') : '' }}
                        </h5>
                    </tr>
                    {% if article.linkedImage != null %}
                        <div align="center">
                            <img class="articleimg " src="{{ asset('uploads/images/' ~ article.linkedImage ) }}"
                                 alt="{{ article.title }}">
                        </div>
                    {% endif %}
                    <div class="separator" style="clear: both; text-align: justify;">
                        <br></div>
                    <tr>
                        <p class="text-justify">{{ article.content| raw }}</p>
                    </tr>
                    <div class="post-footer"></div>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-1 col-lg-3" style="padding-left: 0;">
                <table class="table side-card">
                    <tr>
                        <th><h4>Auteurs liés</h4></th>
                    </tr>
                    <tr>
                        <td style="color: #6C6C6C">
                            {% set hrHtml = 1 %}
                            {% for author in article.getLinkedAuthor() %}
                                <a href="{{ path('filtered_list', { 'classname' : authorClass , 'filter': author.name|lower, 'shortname': authorShortname }) }}">{{ author }}</a>
                                <br>
                                {% if hrHtml <= (article.getLinkedAuthor()|length) - 1 and (article.getLinkedAuthor()|length) > 1 %}
                                    <hr>
                                    {% set hrHtml = hrHtml + 1 %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <table class="table side-card">
                    <tr>
                        <th><h4>Concepts liés</h4></th>
                    </tr>
                    <tr>
                        <td style="color: #6C6C6C">
                            {% set hrHtml = 1 %}
                            {% for concept in article.getLinkedConcept() %}
                                <a href="{{ path('filtered_list', { 'classname' : conceptClass , 'filter': concept.name|lower, 'shortname': conceptShortname }) }}">{{ concept }}</a>
                                <br>
                                {% if hrHtml <= (article.getLinkedConcept()|length) - 1 %}
                                    <hr>
                                    {% set hrHtml = hrHtml + 1 %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <table class="table side-card">
                    <tr>
                        <th><h4>Catégories liées</h4></th>
                    </tr>
                    <tr>
                        <td style="color: #6C6C6C">
                            {% set hrHtml = 1 %}

                            {% for category in article.getLinkedCategory() %}
                                <a href="{{ path('filtered_list', { 'classname' : categoryClass , 'filter': category.name|lower, 'shortname': categoryShortname }) }}">{{ category }}</a>
                                <br>
                                {% if hrHtml <= (article.getLinkedCategory()|length) - 1 %}
                                    <hr>
                                    {% set hrHtml = hrHtml + 1 %}
                                {% endif %}

                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
